<!-- Create html code to show an input field called CLUSTER NUMBER with type of number, min of 0 and max of 5. Allow the user to submit-->
<!-- Create html code to show an input field called CLUSTER NUMBER with type of number, min of 0 and max of 5. Allow the user to submit-->
<head>
    <B> SELECT TO CMD CLUSTER NUMBER <br> <br> </B>
</head>
<form method="post">
    <label for="cluster_number">Cluster Number</label>
    <input type="number" name="cluster_number" id="cluster_number" min="0" max="5">
    <input type="submit" value="Submit">
</form>