<!-- Create html code to show an input field called CLUSTER NUMBER with type of number, min of 0 and max of 5. Allow the user to submit-->
<!-- Create html code to show an input field called CLUSTER NUMBER with type of number, min of 0 and max of 5. Allow the user to submit-->
<head>
    <B> CLUSTER DETAILS <br> <br> </B>
    <i> Cluster 0: Cluster with most SKUs (35%), used mainly in AG <br> </i>
    <i> Cluster 1: Cluster with 11% SKUs, used in all BUs <br> </i>
    <i> Cluster 2: Cluster with the least SKUs (3%), used mainly in AG BU <br> </i>
    <i> Cluster 3: Cluster with 14% SKUs, top cluster in CE BU <br> </i>
    <i> Cluster 4: Cluster with 15% SKUs, used in all BUs, 2nd ranked cluster for CE <br> </i>
    <i> Cluster 5: Cluster with 22% SKUs, used mainly in AG BU <br> <br> </i>
    Select a cluster number to see the SKU details for that cluster
</head>
<form method="post">
    <label for="cluster_number">Cluster Number</label>
    <input type="number" name="cluster_number" id="cluster_number" min="0" max="5">
    <input type="submit" value="Submit">
</form>